[submodule "vendor/etl"]
	path = vendor/etl
	url = https://github.com/ETLCPP/etl
[submodule "FsLibc"]
	path = vendor/FsLibc
	url = https://github.com/pinwhell/FsLibc.git
[submodule "vendor/nmd"]
	path = vendor/nmd
	url = https://github.com/Nomade040/nmd
[submodule "vendor/TBS"]
	path = vendor/TBS
	url = https://github.com/pinwhell/TBS
